body{
    background: green linear-gradient(45deg, yellow, red, black) fixed;
    text-align: center;
  }
#defaultCanvas0{
    border:5px solid white;
    border-radius: 15px;
    text-align: center;
    display: inline;
}

#button {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-style: solid;
  border-width: 37px 0 37px 60px;
  border-color: transparent transparent transparent #038354;
  cursor: pointer;
  will-change: border-width;
  transition: all .2s ease;
}
#button:hover {
  border-color: transparent transparent transparent #06c780;
}

#pausediv{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;
  text-align: center;
}




.rangetext {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0px 20px;
    color: #04AA6D;
    font-size: 3em;
}

.settings{
  float: left;
  width: 40%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  margin-bottom: 50px;
  margin-left: 8.5%;
}

.analyses{
  float: right;
  width: 40%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  margin-right: 8.5%;
}

/*-- Custom Range Slider CSS --*/
.rangeSlider {
    background-color: #04AA6D;
    width: 30%;
    height: 40px;
    border-radius: 10px;
    padding: 15px 10px 10px 10px;
    box-sizing: border-box;
    
}
.circleRange{
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    color: rgb(209, 208, 208);
    outline: none;
    height: 12px;
}

.circleRange::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #3f51b5;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.circleRange::-moz-slider-thumb{
    -moz-appearance: none;
    background: #3f51b5;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.settingbutton{
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  background-color: royalblue;
  border: 0px;
  border-radius: 15px;
}


.settingbutton {
  align-items: center;
  background-clip: padding-box;
  background-color: #04AA6D;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 80% !important;
  margin-top: 20px;
  margin-bottom: 30px;
}

.settingbutton:hover,
#play:focus {
  background-color: #0bb878;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.settingbutton:hover {
  transform: translateY(-1px);
}

.settingbutton:active {
  background-color: #04AA6D;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}




#shape{
  margin-top: 2%;
  width: 80% !important;
  margin-bottom: 20px;
}


#shape {
  text-align: center !important;
  position: relative;
  background-color: #04AA6D;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#shape:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#steptext{
  color: #06c780;
  font-size: 2.5em;
  font-weight: bolder !important;
  font-family: fantasy;
}

#diecolor{
  background-color: #04AA6D;
}
#livecolor{
  background-color: #04AA6D;
}
#dc{
  color: #038354;
  font-size: 1.5em;
}
#lc{
  color: #038354;
  font-size: 1.5em;
}



#at{
  float: left;
  margin-left: 10%;
}
#as{
  float: right;
  margin-right: 10%;
}
#bordersize {
  text-align: center !important;
  position: relative;
  background-color: #04AA6D;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 20px;
  width: 40%;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#bordersize:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#bordersize:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
#bordersize::placeholder{
  color: #C5C5C5;
}




#cagecount {
  text-align: center !important;
  position: relative;
  background-color: #04AA6D;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 20px;
  width: 40%;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#cagecount:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#cagecount:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
#cagecount::placeholder{
  color: #C5C5C5;
}



#gamewidth {
  text-align: center !important;
  position: relative;
  background-color: #04AA6D;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 20px;
  width: 40%;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#gamewidth:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#gamewidth:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
#gamewidth::placeholder{
  color: #C5C5C5;
}






#gameheight {
  text-align: center !important;
  position: relative;
  background-color: #04AA6D;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 20px;
  width: 40%;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#gameheight:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#gameheight:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
#gameheight::placeholder{
  color: #C5C5C5;
}

#h1bg{
  background-color: rgba(255, 255, 255, 0.9);
  width: 600px;
  height: 80px;
  font-size: 2em;
  border-radius: 20px;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#stepcount{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ff0000;
  font-size: 2em;
}

#language{
  margin-top: 2%;
  width: 35% !important;
  margin-bottom: 20px;
}


#language {
  text-align: center !important;
  position: relative;
  background-color: #02472e;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin-left: 10%;
}

#language:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.settingbutton{
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  background-color: #04AA6D;
  border: 0px;
  border-radius: 15px;
}


.help {
  align-items: center;
  background-clip: padding-box;
  background-color: #02472e;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 35% !important;
  margin-top: 2%;
  margin-bottom: 30px;
  font-size: 1.8em;
  margin-right: 0% !important;
}

.help:hover,
.help:focus {
  background-color: #0bb878;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.help:hover {
  transform: translateY(-1px);
}

.help:active {
  background-color: #04AA6D;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


